[user]
	email = cairesr@gmail.com
	name = Rodrigo Gai

[core]
  pager = less -r
  editor = subl -w

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[pager]
	log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	st = status
	ci = commit
	ad = add
	ps = push
	br = branch
	co = checkout
	df = diff
	dff = diff
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	s = status -s
	d = diff --patch-with-stat
	branches = branch -a
	remotes = remote -v

[help]
  autocorrect = 1

[branch]
  autosetuprebase = always

[push]
  default = current
